p {
    font-family: monospace;
  color:  yellow;
  font-size: 150%;
    padding-bottom: -40px;
}

h1 {
    font-family: monospace;
  color:  yellow;
    font-size: 350%;




}

.suiche {
border: 1px solid #ffff00; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: rgba(255, 255, 0, .1);
color: #FFFFFF; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-size:18px;
font-family: monospace;
border-radius: 10px; /*bordes redondos*/
}



#wrapper99{
	position: absolute;
  	padding: 10px 6%;



    left: 400px;
}


#cabeza{
        background-color: rgba(0, 0, 0, 0.5);
    margin-left: 500px;
    margin-right: 500px;




}

#bloque > div {

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;






}
