p {
    font-family: monospace;
  color:  yellow;
  font-size: 150%;
}

h1 {
    font-family: monospace;
  color:  yellow;
    font-size: 350%;
 

   
    
}

#cabeza{
        background-color: rgba(0, 0, 0, 0.2);
    margin-left: 500px;
    margin-right: 500px;
    
   
   
    
}

#bloque > div {
    
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    
   
    
    
}

